body{
    background-image:radial-gradient(  rgba(151, 48, 48, 0.491),rgba(30, 132, 30, 0.662) ,rgb(29, 123, 163)  );
}
/* ===============================================header===============================================*/

.contact-logo{
    padding-top: 10px;
    width: fit-content;
    margin-left: 400px;
}

nav{
    display: flex;
}

.nav-links ul li{
    list-style: none;
    padding-block: 7px
    ;
}

.nav-links ul li a {
    text-decoration:none;
    font-size: 17px;
    font-weight: 800;

}

.nav-links ul li :hover{
    color: azure;
}
  
/* ===============================================END of header===============================================*/
  
/*-------------------------------------------====-----------main----------------===--------------------------------------*/

.container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(57, 113, 159, 0.34);
    border: 2px solid rgba(63, 128, 153, 0.639);
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) ;
}
.one{
    width: 170px;
    background-color: rgb(177, 38, 177);
}
.two{
    width: 250px;
    background-color: rgb(177, 38, 177);
}
hr{
    background-color: rgb(7, 7, 255);
}
h1, h2{
    text-align: center;
    color: rgb(41, 26, 123);
    font-weight: 900;
    font-size: 22px;
}
.adressb ul{
    margin-bottom: 30px;
    margin-left: 328px;
}

.adressb li{
    padding-top: 15px;
    font-weight: 550;
    font-size: 20px;
    color: rgb(92, 50, 34);
    list-style: none;
}
.social{
    margin-left: 320px;
}
.social a{
    padding-left: 20px;
    margin-left: 20px;
}
h3{
    color: rgb(40, 31, 95);
    font-weight: 800;
    font-size: 20px;
}

form{
    background-color: rgba(130, 130, 196, 0.402);
    border-radius: 10px;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) ;
}
label{
    display: block;
    font-weight: 700;
    margin-bottom: 3px;
}
input{
    margin-bottom: 3px;
    border-radius: 10px;
    border: 1px lightblue;
    height: 22px;
    width: 220px;
    padding-left: 5px;
}
.text{
    border-radius: 15px;
    padding: 10px;
}
::placeholder{
    text-align: center;
}
.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 30px;
    width: 80px;
    font-weight: 900;
    color: rgb(41, 26, 123);
    background-color: rgb(50, 131, 131);
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) ;
}
.submit:hover{
    border: 1px solid rgb(125, 11, 232);
    background: rgb(45, 121, 154);
    transition: 1s;
}



/*-------------------------------------------====-----------END of main----------------===--------------------------------------*/
.backtotop p{
    text-align: center;
    
 }
 .backtotop p a{
     color: antiquewhite;
     
 }



/*-------------------------------------------====-----------Footer----------------===--------------------------------------*/