body{
    background-image:linear-gradient( rgba(255, 255, 255, 0.406) ,rgb(76, 76, 161)  ); 
}
.logo{
   
    padding-top: 1px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}  
.logo img{
    width: 170px;
}
  h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 7px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
  }
  
  
  .menu {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(15, 128, 220, 0.559);
    border: 2px solid rgba(63, 128, 153, 0.639);
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) ;
  }

  
  hr {
    height: 1px;
    background-color: rgb(30, 149, 86);
    border-color: rgb(122, 40, 40);
  }

  
  .item p {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
  }
  
  .flavor{
    float: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 19px;
    text-align: center;
  }
  
  a {
    color: rgb(45, 156, 80);
  }
  
  a:visited {
    color: rgb(13, 32, 138);
  }
  
  a:hover {
    color: rgba(43, 58, 109, 0.815);
  }
  
  a:active {
    color: rgb(104, 24, 24);
  }